@import url('./fonts.css');
@import url('./mediaquery.css');

:root {
  --blue-color: #03045E;
  --red-color: #BC0019;
  --green-color: #016b01;
}

body:has(.login-page) {
  line-height: 0;
}

html body:has(.dashbaord-page .react-table) {
  background-color: #f9fafb;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.MuiTooltip-popper {
  z-index: 1500000000000 !important;
}

.MuiPopover-root.MuiMenu-root.MuiModal-root {
  z-index: 999999;
}

.MuiDialog-root.MuiModal-root {
  z-index: 999999;
}

.MuiFormHelperText-root.Mui-error {
  margin: 2px 0;
}

p.fs14 {
  font-size: 14px;
}

p.fs12 {
  font-size: 12px;
}

p.fs10 {
  font-size: 10px;
}

button.btn:not(.MuiButton-sizeLarge) {
  box-shadow: unset !important;
  /* border: 1px solid; */
}

.btn.btn-blue:not(.Mui-disabled) {
  background-color: var(--blue-color);
  color: #ffffff;
}

.btn.btn-green:not(.Mui-disabled) {
  background-color: var(--green-color);
  color: #ffffff;
}

.btn.btn-green:hover {
  border: 1px solid var(--green-color);
  color: var(--green-color);
  background-color: transparent;
}

.btn.btn-blue:hover {
  border: 1px solid var(--blue-color);
  background-color: transparent;
  color: #333333;
}

.btn.btn-outlined:not(.Mui-disabled) {
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
}

.btn.btn-outlined:hover {
  background-color: var(--blue-color);
  color: #ffffff;
}

.btn.btn-danger:not(.Mui-disabled) {
  background-color: var(--red-color);
  color: #ffffff;
}

.btn.btn-danger:hover {
  border: 1px solid var(--red-color);
  background-color: transparent;
  color: var(--red-color);
}

.btn.btn-status-rounded {
  max-width: 145px;
  padding: 5px 12px 4px 12px;
  border-radius: 30px;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  border: 0;
}

.btn.btn-status {
  max-width: 150px;
  width: 100%;
}

.btn.bg-blue {
  background-color: #2563EB !important;
}

.btn.bg-green {
  background-color: #16A34A !important;
}

.btn.bg-red {
  background-color: #EF4444 !important;
}

.btn.bg-yellow {
  background-color: #F59E0B !important;
}

.btn.bg-high {
  background-color: #FEE2E2 !important;
  color: #4D4D4D;
}

.btn.bg-pending {
  background-color: #F59E0B !important;
}

.btn.bg-medium {
  background-color: #FEF3C7 !important;
  color: #4D4D4D;
}

.btn.bg-low {
  background-color: #DCFCE7 !important;
  color: #4D4D4D;
}

button.btn-icon-border {
  border: 1px solid #e3e3e3;
  padding: 6px;
}

button.table-icon-btn {
  width: 30px;
  height: 30px;
  background-color: var(--blue-color);
  color: #ffffff;
  border-radius: 8px;
}

/* button.MuiButtonBase-root.Mui-disabled.MuiIconButton-root.Mui-disabled:not(.MuiAutocomplete-popupIndicator) {
  background-color: #dfdfdf;
  border: 1px solid #cecbcb;
} */

button.table-icon-btn svg {
  font-size: 18px;
}

button.table-icon-btn:hover {
  background-color: var(--red-color);
}

span.custom-pill {
  padding: 4px 8px;
  border-radius: 4px;
  color: #374151;
  font-size: 12px;
  margin-right: 4px;
}

.white-bg-input {
  background-color: #ffffff;
}

.Toastify .Toastify__toast-container--top-right {
  top: 85px;
}

.Toastify .Toastify__toast {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #cccccc;
  border-bottom: 0;
  font-family: 'poppins-lt';
  color: #333333;
  border-radius: 4px;
}

.cust-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cust-accordion.MuiPaper-root.MuiPaper-elevation,
.cust-accordion.MuiPaper-root.MuiPaper-elevation .MuiButtonBase-root.MuiAccordionSummary-root {
  border-radius: 20px;
}

.cust-accordion.MuiPaper-root.MuiPaper-elevation:has(.Mui-error) .error-msg {
  display: inline-block;
}

.cust-accordion.MuiPaper-root.MuiPaper-elevation:has(.Mui-error),
.cust-accordion.MuiPaper-root.MuiPaper-elevation:has(.Mui-error) .MuiButtonBase-root.MuiAccordionSummary-root {
  background-color: #ffeeee;
}

.dialog-modal {
  z-index: 99999 !important;
}

.dialog-modal .MuiDialog-container>.MuiPaper-root {
  max-width: 770px;
  width: 100%;
  /* border: 1px solid #E6E6E6; */
}

.dialog-modal:has(.modal-lg) .MuiDialog-container>.MuiPaper-root {
  max-width: 1170px;
}

.custom-modal .modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #E6E6E6;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
  align-items: center;
}

.MuiDialog-container>.MuiPaper-root:has(.modal-footer) {
  max-height: unset;
}

.custom-modal .modal-body:has(.modal-footer) {
  max-height: calc(100vh - 115px);
  overflow: auto;
  padding-bottom: 0;
  scrollbar-width: thin;
}

.custom-modal .modal-body .modal-footer {
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  padding-inline: 0;
  flex-wrap: wrap;
  gap: 8px;
  z-index: 9;
  margin-inline: -10px;
  padding-inline: 10px;
}

.custom-modal.priority_modal .modal-body .modal-footer {
  background-color: #f9fafb;
  margin-inline: -24px;
  border-top: 2px solid #eeeeee;
}

.modal-footer .btn-status {
  max-width: 160px;
  width: 100%;
}

.MuiFormLabel-asterisk {
  color: var(--red-color);
}

.login-page {
  display: flex;
  height: 100vh;
  min-height: 550px;
  max-height: 100vh;

  .img-section {
    width: 63%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .input-section {
    width: 37%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    .forgot-link {
      position: absolute;
      right: 0px;
      font-size: 12px;
      color: rgb(188, 0, 25);
      top: 3px;
      text-decoration: none;
    }
  }
}

.activate-account .input-section {
  overflow: auto;
  justify-content: flex-start;
  padding-block: 20px;
}

/* sidebar css */
.sidebar .MuiDrawer-paper {
  background-color: #f6f7ff;
  color: #000000;
}

.sidebar .MuiDrawer-paper .menu-icon-btn {
  font: 14px/1 'poppins', sans-serif;
  padding-left: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.sidebar .MuiDrawer-paper .menu-icon-btn.active,
.sidebar .MuiDrawer-paper .menu-icon-btn:hover,
.sidebar.close-sidebar .MuiDrawer-paper ul li .MuiButtonBase-root.active,
.sidebar.close-sidebar .MuiDrawer-paper ul li .MuiButtonBase-root:hover {
  color: var(--blue-color);
}

.sidebar .MuiDrawer-paper .menu-icon-btn .MuiListItemIcon-root {
  min-width: 40px;
}

.sidebar .MuiDrawer-paper .MuiListItemText-root {
  text-wrap: auto;
  font: inherit;
}

.sidebar .MuiDrawer-paper .MuiListItemText-root span {
  color: inherit;
  font: 14px/1 'poppins', sans-serif;
}

.sidebar .MuiDrawer-paper .MuiCollapse-root span {
  color: inherit;
  font: inherit;
}

body:has(.open-sidebar) .sidebar-toggle {
  pointer-events: none;
}

.custom-tabs .MuiTabs-flexContainer {
  gap: 12px;
  border-bottom: 1px solid #cccccc;
}

.custom-tabs .MuiButtonBase-root.MuiTab-root {
  padding: 8px 16px;
  border: 1px solid #cccccc;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 40px;
  text-transform: capitalize;
  max-width: 172px;
  width: 100%;
  font: 14px/1 'poppins', sans-serif;

  &.Mui-selected,
  &:hover {
    background-color: var(--blue-color);
    color: #ffffff;
  }
}

.custom-tabs .MuiTabs-indicator {
  background-color: unset;
  height: 0;
}

.info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  border-left: 4px solid rgba(188, 0, 25, 1);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}

.info-card.active::before {
  content: '✔';
  position: absolute;
  background-color: #49b949;
  width: 15px;
  height: 15px;
  top: 2px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  left: 2px;
}

.card-count {
  width: 45px;
  height: 45px;
  background-color: #F6F7FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 25px;
    color: var(--blue-color);
  }
}

.card {
  padding: 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.card .botted-border {
  position: relative;
  margin-right: 16px;
  margin-left: 5px;
}

.card .botted-border::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #BC0019;
  border-radius: 50%;
  left: -5.5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr.cust-divider {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin: 10px 0;
}

/* .bellow-header-part{

} */
.filter-selected {
  display: flex;
  gap: 8px;
}

.option-selected {
  width: 80;
  padding: 6px 12px 5px 12px;
  border: 1px solid #E6E6E6;
  border-radius: 30px;
  font-size: 12px;
  text-align: center;
  color: #808080;
}

.card-body {
  margin-top: 10px;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

.card-contain {
  justify-content: space-between;
  padding: 18px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  border: 1px solid #cccccc;
  display: grid;
  grid-template-columns: 140px 300px 124px;
  justify-content: space-between;
  align-items: center;
}

/* Common base style */
.custom-radio {
  pointer-events: none;
}

/* Force checked style */
.MuiTabs-flexContainer .Mui-selected .custom-radio .MuiSvgIcon-root {
  color: var(--blue-color);
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px white, inset 0 0 0 10px var(--blue-color);
}

/* date picker style */
.MuiFormControl-root .MuiPickersInputBase-root {
  font-size: 12px;
}

.MuiFormControl-root .MuiPickersInputBase-root.Mui-focused fieldset.MuiPickersOutlinedInput-notchedOutline {
  border-color: #03055E;
}

.MuiDateCalendar-root .MuiPickersDay-root.Mui-selected,
.MuiDateCalendar-root .MuiPickersDay-root.Mui-selected:hover,
.MuiClock-root .MuiButtonBase-root.Mui-selected,
.MuiClock-root .MuiButtonBase-root.Mui-selected:hover,
.MuiDateCalendar-viewTransitionContainer .MuiYearCalendar-button.Mui-selected,
.MuiDateCalendar-viewTransitionContainer .MuiYearCalendar-button.Mui-selected:hover {
  background-color: var(--red-color) !important;
}

.MuiPickersLayout-root .MuiDialogActions-root .MuiButtonBase-root {
  border-radius: 4px;
  border: 1px solid var(--blue-color);
  padding: 6px 10px;
  color: var(--blue-color);
  font-family: 'poppins';
  font-size: 14px;
}

.MuiPickersLayout-root .MuiDialogActions-root .MuiButtonBase-root:nth-child(2) {
  background-color: var(--blue-color);
  color: #ffffff;
}

.table-append table {
  table-layout: fixed;
}

.table-append table tr:not(:first-child) .from-flied .MuiFormControl-root.MuiFormControl-fullWidth {
  cursor: not-allowed;
}

.table-append table tr:not(:first-child) .from-flied .MuiFormControl-root.MuiFormControl-fullWidth * {
  pointer-events: none;
}

.table-append table tr:not(:first-child) .from-flied .MuiFormControl-root.MuiFormControl-fullWidth .MuiAutocomplete-endAdornment {
  display: none;
}

.table-append tbody td {
  padding: 8px;
  border: 0;
  vertical-align: baseline;
}

.table-append tbody td:first-child {
  padding-left: 0;
}

.table-append tbody td:last-child:not([colspan]) {
  padding-right: 0;
  max-width: 48px;
  min-width: 48px;
  width: 48px;
}

.table-append tbody td:last-child>button {
  margin-top: 20px;
}

.passengers-travelling-info-box {
  padding: 10px 25px;
  background-color: #F6F7FF;
  border-radius: 8px;
}

.specify-range .date-range-picker {
  width: 250px;
}

.specify-range .date-range-picker .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
.specify-range .date-range-picker .MuiOutlinedInput-root,
.specify-range .date-range-picker .MuiOutlinedInput-root input {
  border: 0;
  background: transparent;
  -webkit-text-fill-color: #333333;
  opacity: 1;
  font-size: 14px;
  font-family: 'poppins-lt';
}

.specify-range .date-range-picker .MuiOutlinedInput-root input {
  padding: 5px;
}

.quote-comparison-table table {
  table-layout: fixed;
}

.quote-comparison-table table thead th:first-child,
.quote-comparison-table table tbody td:first-child {
  width: 250px;
}

.quote-comparison-table table thead th[data-disabled="true"],
.quote-comparison-table table tbody td[data-disabled="true"] {
  opacity: 0.5;
  position: relative;
}

.quote-comparison-table table tbody td[data-disabled="true"]:has(.submit-rejection-reason) {
  opacity: 0.8;
}

.submit-rejection-reason {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.select_filter.MuiBox-root {
  width: fit-content;

  .MuiInputBase-root {

    .MuiSelect-select {
      padding-inline: 14px;
    }

    svg {
      display: none;
    }
  }
}

.custom-select-dropdown ul li.Mui-disabled:first-child {
  display: none;
}

.custom-select-dropdown ul {
  padding: 0;

  li.MuiMenuItem-root {
    padding-inline: 10px;
    color: #4D4D4D;

    .MuiButtonBase-root {
      padding: 4px;
    }

    span svg {
      font-size: 20px;
    }

    .MuiListItemText-root span {
      font-size: 14px;
      font-family: 'poppins-lt', sans-serif;
    }
  }
}

.card-content {
  padding: 16px !important;
}

.Toastify__toast-container.Toastify__toast-container--top-right {
  z-index: 9999999999;
}

.MuiFormControl-root:has(.Mui-disabled):not(.react-table .MuiFormControl-root,
  .MuiTable-root .MuiFormControl-root,
  .MuiTableCell-root .MuiFormControl-root) {
  pointer-events: none;
}

.MuiFormControl-root.Mui-disabled .MuiPickersInputBase-root * {
  color: #333333;
}

:where(.adult-section, .child-section, .infants-section):has(.Mui-error) button.MuiButtonBase-root.MuiButton-root,
:where(.adult-section, .child-section, .infants-section) button.MuiButtonBase-root.MuiButton-root.Mui-disabled {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.26);
  cursor: default;
  color: #ffffff;
}

/* date picker */
/* .MuiPaper-root.MuiPaper-elevation .MuiPickersLayout-contentWrapper:has(.MuiDateCalendar-root, .MuiTimeClock-root) {
  padding-bottom: 0 !important;
}

.MuiPickersLayout-root:has(.MuiDateCalendar-root, .MuiTimeClock-root) {
  position: relative;
}

.MuiPickersLayout-root:has(.MuiDateCalendar-root, .MuiTimeClock-root) .MuiDialogActions-root.MuiDialogActions-spacing {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
} */